/*======COLORS======*/
:root{
  --firt-color:#2fcc71;
  --second-color:#2abb66;
  --thirty-color:#2fcc71;
  --title-color:rgb(92, 92, 92);
  --text-color:grey;
  --btn-color:#448f63;
}
html{
  scroll-behavior: smooth;
}

/*MODE DARK/LIGHT*/
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.light-mode {
  background-color: #f8f9fa;
  color: #000;
}

.btn-dark .visually-hidden {
  display: inline-block;
}

.btn-light .visually-hidden {
  display: inline-block;
}

#toggleButton svg {
  display: none;
}
#toggleButton svg.active {
  display: inline;
}

/* Estilo base para el botón */
.btn-mode-custom {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
/* Estilo para los íconos dentro del botón */
.btn-mode-custom svg {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease, fill 0.3s ease;
}
/* Estilo para el hover en el botón */
.btn-mode-custom:hover svg {
  transform: scale(1.3);
  fill: #2fcc71; /* Color deseado al pasar el cursor */
}
/* Opcional: Estilo para el estado activo/foco del botón */
.btn-mode-custom:active svg, 
.btn-mode-custom:focus svg {
  outline: none;
  fill: #239b55; /* Color deseado cuando se hace clic */
}

/* BODY */
/* Estilo común para el cuerpo */
body {
  font-family: Poppins;
  scroll-behavior: smooth;
  transition: background-color 0.5s, color 0.5s;
}

/* Estilo para el modo claro */
body.light-mode {
  background: radial-gradient(circle,#fcfffc, #ecfaec, #e7fcea,#cff0db);
  background-size: 130% 130%;
  animation: rotateGradient 8s infinite alternate;
  /*background-color: #ffffff; */
  color: #000000; /* Color del texto en modo claro */
}

/* Estilo para el modo oscuro */
body.dark-mode {
  background: radial-gradient(circle,#27443a, #1c3830, #10201b, #040c0a);
  background-size:130% 130%;
  animation: rotateGradient 8s infinite linear;
  color: #ffffff; /* Color del texto en modo oscuro */
}

@keyframes toggle {
  from{
    background-position: 0% 50%;
  }
  to{
    background-position: 150% 50%;
  }
}
@keyframes rotateGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
/* Estilo para animation scroll*/
@keyframes apper {
  from{
    opacity: 0;
    scale: 0.5;
  }to{
    opacity: 1;
    scale: 1;
  }
}
.bloque{
  animation: apper linear;
  animation-timeline: view();
  animation-range:entry 0 cover 40% ;
}


/* BUTTONS */

.buttons-language-container {
  position: fixed;
  top: 20px; /* Ajusta la posición vertical según tus necesidades */
  right: 20px; /* Ajusta la posición horizontal según tus necesidades */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
}
.btn-language{
  border-radius: 55%;
  background-color: var(--btn-color);
  border: none;
  color: #fff;
  
}
/* Estilos boton modo dark-light */
.dropdown-menu {
  min-width: 4rem!important;
}
/* Estilo para el color activo */
.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: black !important; /* Cambia "your-desired-color" al color deseado */
  color:white !important; /* Cambia "your-text-color" al color deseado para el texto */
}
.dropdown-custom .nav-link{
  color: #000!important;
  padding-top: .2rem !important; 
  padding-bottom: .2rem !important;
}
.dropdown-custom .nav-link:hover{
  color: #2fcc71!important;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-b {
  font-weight: 100;
  transition: all 400ms ease;
  padding: 0.5rem;
  width: 8rem;
  border-radius: 3rem;
  font-weight: 500;
}

/* Estilos generales para botones */
.btn-color-0,
.btn-color-1 {
  border: 0.1rem solid; /* Bordes definidos para todos los botones */
  cursor: pointer;
  transition: background 0.3s, border 0.3s; /* Transiciones suaves para hover */
}

/* Modo Claro */
.light-mode .btn-color-0 {
  background: #2abb66;
  border-color: #2abb66;
  color: white;
}

.light-mode .btn-color-0:hover {
  background: #23a057;
  border-color: #23a057;
}

.light-mode .btn-color-1 {
  background: #0b0f0d;
  border-color: #0b0f0d;
  color: #f0fff6;
}

.light-mode .btn-color-1:hover {
  background: #2abb66;
  border-color: #2abb66;
  color:#e2ece6;
}

/* Modo Oscuro */
.dark-mode .btn-color-0 {
  background: #2abb66;
  border-color: #2abb66;
  color: white;
}

.dark-mode .btn-color-0:hover {
  background: #23a057;
  border-color: #23a057;
}

.dark-mode .btn-color-1 {
  background: #e7fff1;
  border-color: #e7fff1;
  color:rgb(38, 56, 45);
}

.dark-mode .btn-color-1:hover {
  background: #2abb66;
  border-color: #2abb66;
  color:#d7ffe7;
}

/* Estilos para el socials*/
.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.socials-profile {
  padding: 10px; 
  text-decoration: none; 
  margin-bottom: 100px;
  transition: color 0.5s;
}

/* Modo Claro */
.light-mode .socials-profile {
  color: #0b0f0d;
}
.light-mode .socials-profile:hover{
  color: #2abb66;
  transform: scale(1.1);
}

/* Modo Oscuro */
.dark-mode .socials-profile {
  color: #e7fff1;
}
.dark-mode .socials-profile:hover{
  color: #2abb66;
  transform: scale(1.1);
}

/* Button ENVIAR */
.btn-send{
  font-weight: 100;
  transition: all 400ms ease;
  padding: 0.5rem;
  width: 15rem;
  border-radius: 3rem;
  font-weight: 500;
}

/* FILTER BOTON */
/* Estilos para el filtro en general */
.filter-content {
  margin: 2rem auto 2.5rem; /* Ajusta el margen para centrar verticalmente */
  max-width: 300px; /* Establece el ancho máximo */
  padding: .375rem;
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

/* Botones del filtro */
.filter-btn {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3rem;
  cursor: pointer;
  background-color: transparent;
  transition: .3s;
}

/* Estilos para el modo claro */
.light-mode .filter-content {
  background-color: #69c2964b; /* Color de fondo para el modo claro */
}

.light-mode .filter-btn {
  color: #242424;
  background-color: transparent;
}

.light-mode .filter-btn:hover {
  background-color: #f4fcf8;
}

.light-mode .filter-btn:active,
.light-mode .filter-btn.active {
  background-color: #f4fcf8b6;
  color: #242424;
}

/* Estilos para el modo oscuro */
.dark-mode .filter-content {
  background-color: #69c2964b; /* Color de fondo para el modo oscuro */
}

.dark-mode .filter-btn {
  color: #f4f4f4;
  background-color: transparent;
}

.dark-mode .filter-btn:hover {
  background-color: #769e7f;
}

.dark-mode .filter-btn:active,
.dark-mode .filter-btn.active {
  background-color: #698870;
  color: #f4f4f4;
}

/* NAVEGADOR */
header {
  top: 5px;
  left: 25%;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0px 100px;
  position: fixed;
  z-index: 999;
  transition: all 0.3s ease; /* Transición suave para los cambios de estilo */
}

/* Estilos para cuando el header está scrolleado */
.light-mode header.scrolled {
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
  border-radius: 35px;
  background-color: rgba(239, 255, 248, 0.7);
  backdrop-filter: blur(10px); /* Aplica el desenfoque al fondo detrás del elemento */
}

.dark-mode header.scrolled {
  box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.3);
  border-radius: 35px;
  background-color: rgba(13, 27, 19, 0.7);
  backdrop-filter: blur(10px); /* Aplica el desenfoque al fondo detrás del elemento */
}


/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  header {
    top: 5px;
    left: 5%;
    width: 90%;
    padding: 0 10px;
    justify-content: space-between;
  }

  /* Asegura que los elementos del menú se mantengan alineados horizontalmente */
  header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  /* Opcional: Estilos para los elementos del menú en dispositivos móviles */
  header nav a {
    padding: 10px;
    text-align: center;
  }
}
/* Estilos generales para la navbar en modo claro */
.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #242725; /* Color de texto en modo oscuro */
  transition: color 0.5s;
  font-weight: 500;
  border-bottom:none !important;
}

.nav-underline .nav-link:hover {
  color: #2fcc71; /* Color de texto al pasar el ratón en modo claro */
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40; /* Color del texto activo en modo claro */
}

/* Estilos generales para la navbar en modo oscuro */
.nav-underline-dark .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #f2fdf4; /* Color de texto en modo oscuro */
  transition: color 0.5s;
  font-weight: 500;
}

.nav-underline-dark .nav-link:hover {
  color: #45db83; /* Color de texto al pasar el ratón en modo oscuro */
}

.nav-underline-dark .active {
  font-weight: 500;
  color: #e0e0e0; /* Color del texto activo en modo oscuro */
}

/* SECTIONS */
section {
  /*height: 96vh;*/
  padding-top: 8vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* WELCOME SECTION */
/*Columnas*/
.me-image {
  grid-column-start: 8;
  grid-column-end: 10;
  margin-top: var(--spacing-xs);
}

.me-content img {
  background-color: rgb(147, 255, 183);
  border-radius: 200px 200px 0 0;
  width: 320px;
  height: 330px;
  object-fit: cover;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 90vh;
  margin-top: 40px;
}

.pic-container {
  display: flex;
  height: 450px;
  width: 300px;
  margin: auto 0;
}

.text-container-welcome {
  align-self: center;
  text-align: center;
}

.text-container-welcome p {
  font-weight: 600;
}

.presentation-text-p1 {
  text-align: center;
  margin-bottom: 0rem;
}

.presentation-text-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}
/* Estilos span animation */
.outer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  margin: auto;
}

.animated-border-container {
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 30px; /* Ajusta según sea necesario */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow:hidden;
}

.animated-border-container::before {
  content: '';
  position: absolute;
  top: -830%;
  /*left:-950%;*/
  bottom:20px;
  width:3815px;
  height: 630px;
  /* background: conic-gradient(from 90deg at 16.5% 25%,#37e27e,#152018,#38e47f);*/
  background-image: conic-gradient(from 90deg at 50% 50%, #51e4b8, #1e2e26, #51e4b8);
  animation: spin 2s linear infinite;
  z-index: 1;
  
}
.animated-border-container::after {
  filter: blur(10px);
}
.outer-container:hover {
  transform: scale(1.02);
}
.light-mode .content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background: linear-gradient(90deg, #ecfced 0%, #ecf8ed 100%);
  color: #5c7e5c; /* Texto blanco */
  border-radius: 25px; /* Ajusta esto según la forma que desees */
  z-index: 1;
  position: relative;
}
.dark-mode .content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background: linear-gradient(90deg, #10201b 0%, #0e1b18 100%);
  color: #c0fac0; /* Texto blanco */
  border-radius: 25px; /* Ajusta esto según la forma que desees */
  z-index: 1;
  position: relative;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

/* ABOUT & SKILL SECTION */
/* Estilos about me */
#about {
  position: relative;
  /*height: 100vh;*/
}
.about-image{
  border-radius: 5%;
  height: 350px;
  width: 280px;
  object-fit: cover;
}
.container-about-image{
  margin: auto 0;
}
.description-about-me {
  font-size: 1rem; /* Ajusta el tamaño de fuente según tu diseño */
  color: #6c757d; /* Color del texto */
  line-height: 1.6; /* Espaciado entre líneas para mejorar la legibilidad */
  text-align: justify; /* Justifica el texto para una apariencia más formal */
}

.description-about-me .highlight {
  font-weight: bold;
}

.highlight {
  font-weight: bold;
  color: #2fcc71; /* O cualquier color que prefieras */
}


/* Estilos skills */
.toggle-section {
  text-align: center;
}
.content {
  display: none;
}

.content.active {
  display: block;
}


.tooltip-custom {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
}

.tooltip-custom .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-custom:hover .tooltiptext {
  visibility: visible;
}


/* PROJECTS SECTION */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 350px); /* Tres tarjetas en una fila de 300px de ancho */
  gap: 0px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
}
.card {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Oculta el desbordamiento de la imagen */
}
.card img {
  width: 100%;
  height: auto; /* Altura automática para mantener la proporción */
  transition: transform 0.5s; /* Transición de transformación */
}

.card:hover img {
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
  /*filter: blur(2px);  Ajusta el valor para cambiar la intensidad del desenfoque */
}
.card-overlay {
  position: relative;
}

.card-overlay img {
  display: block;
  width: 100%;
}

.card-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  transition: transform 0.5s; /* Transición de transformación */
}

.card-overlay:hover .overlay {
  opacity: 1;
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(1, 370px); /* Tres tarjetas en una fila de 300px de ancho */
    gap: 5px; /* Espacio entre las tarjetas */
  }
  .card{
    width: 350px;
  }
}

.project-title,
.project-category { margin-left: 10px; }

.project-title {
  color:rgb(20, 20, 20);
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.3;
}

.project-category {
  color: grey;
  font-size: 14px;
  font-weight: 300;
}

.btn-overlay {
  margin: 0 10px;
}


.no-border-card {
  border: none;
}

/* CONTACT SECTION */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* FOOTER SECTION */
footer {
  margin: 1 1rem;
  padding: 0 0 20px 0;
}
footer ul {
  margin-bottom: 0; /* Elimina el margen por defecto de la lista */
  font-weight: 400;
}

.light-mode footer p {
  margin-bottom: 0; /* Elimina el margen por defecto del párrafo */
  color: #8a8a8a; /* Color del texto opcional */
}
.dark-mode footer p {
  margin-bottom: 0; /* Elimina el margen por defecto del párrafo */
  color: #e1ece5; /* Color del texto opcional */
}
.light-mode footer a {
  color: #8a8a8a; /* Color del texto opcional */
}
.dark-mode  footer a{
  color: #d7ffe7; /* Color del texto opcional */
}
.light-mode footer a:hover {
  text-decoration: underline; /* Efecto hover opcional */
  color: #2abb66;
}
.dark-mode footer a:hover {
  text-decoration: underline; /* Efecto hover opcional */
  color: #2abb66;
}


/*VERSIONES MOBILE*/
/* Pantallas Extra Grandes (1400px y más) */
@media screen and (max-width: 1400px) {
  #profile {
    height: 93vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

/* Pantallas Grandes (1200px - 1400px) */
@media screen and (max-width: 1200px) {
  #profile,
  .section-container {
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .pic-container {
    width: 275px;
    height: 275px;
    margin: 3rem auto 0rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .me-image{
    grid-column-start: 4;
    grid-column-end: 7;
    margin-top: var(--spacing-xs);
  }

  .me-content img{
    background-color: rgb(168, 245, 175);
    border-radius: 50% 50% 0 0;
    width: 250px;
    height: 260px;
  }
}
/*
 Pantallas Medianas (992px - 1200px)
@media screen and (max-width: 992px) {
  .pic-container {
    width: 300px;
    height: 300px;
   
  }
  .me-image{
    grid-column-start: 2;
    grid-column-end: 7;
    margin-top: var(--spacing-xs);
  }

  .me-content img{
    background-color: rgb(168, 245, 175);
    border-radius: 50% 50% 0 0;
    width: 250px;
    height: 260px;
  }
  .text-container-welcome {
    margin: 20px 0;
  }
  .presentation-text-p2 {
    font-size: 1.15rem;
  }
  .title {
    font-size: 1.75rem;
  }
  .text-container {
    padding: 0 15px;
  }
  
}

Pantallas Pequeñas (768px - 992px)
@media screen and (max-width: 768px) {
  .pic-container {
    width: 175px;
    height: 175px;
    margin: 1.5rem auto;
  }
  .me-image{
    grid-column-start: 4;
    grid-column-end: 7;
    margin-top: var(--spacing-xs);
  }

  .me-content img{
    background-color: rgb(168, 245, 175);
    border-radius: 50% 50% 0 0;
    width: 250px;
    height: 260px;
  }
  .text-container-welcome {
    margin: 15px 0;
  }
  .presentation-text-p2 {
    font-size: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .text-container {
    padding: 0 10px;
  }
}*/

/* Pantallas Muy Pequeñas (576px - 768px) */
@media screen and (max-width: 576px) {
 
  #profile {
    height: 95vh;
    margin-bottom: 0;
  }
  .btn-container {
    flex-wrap: wrap;
  }
  .nav-links li a {
    font-size: 1rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .pic-container {
    width: auto;
    /*height: 90vw;*/
    justify-content: center;
  }
  .text-container-welcome{
    margin: 30px 0 0 0;
  }
  .presentation-text-p2 {
    font-size: 1.25rem;
    
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .about-image{
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10%;
  }
}
