html{
  scroll-behavior: smooth;
}
body {
    font-family: Arial, Poppins;
    padding: 0;
    scroll-behavior: smooth;
    background: linear-gradient(90deg, #f3fff9 0%, #fafff7 16%, #f3fffc 50%, #f9ffff 83%, #f3fff9 100%);
    background-size: 300% 300%;
    animation: toggle 5s infinite;
    background-color: #031C06;
  }

/*GRADIANTE ANIMADO*/
@keyframes toggle {
  from{
    background-position: 0% 50%;
  }
  to{
    background-position: 150% 50%;
  }
}
  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }
    
/* SECTIONS */

section {
  padding-top: 2vh;
  height: 100vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

 /* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 100vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* SOCIALS */

.socials-profile {
  padding: 10px; 
  text-decoration: none; 
  margin-bottom: 100px;
  color: black;
}

.socials-profile:hover{
  color: #32DA78;
}

/* ABOUT SECTION */


/*ABOUT FOTO*/
.me-image {
  grid-column-start: 8;
  grid-column-end: 10;
  margin-top: var(--spacing-xs);
}

.me-content img {
  background-color: rgb(147, 255, 183);
  border-radius: 200px 200px 0 0;
  width: 320px;
  height: 360px;
  object-fit: cover;
}

.me-info {
  grid-column-start: 13;
  grid-column-end: 20;
  margin-top: 33px
}


@media (max-width: 768px) {
    /* Estilos para el menú hamburguesa */
    .me-image{
        grid-column-start: 4;
        grid-column-end: 7;
        margin-top: var(--spacing-xs);
    }
    
    .me-content img{
      background-color: rgb(168, 245, 175);
      border-radius: 200px 200px 0 0;
    }
    
    .me-info{
      grid-column-start:4;
      grid-column-end: 30;
      margin-top: var(--24px);
    }
 
}

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/*SKILLS*/
.skill-section{
  z-index: 10;
  padding-bottom: 20%;
  position: relative;
  width: 100%;
  padding-top: 5%;
  font-weight: 500;
  color: #0D411C;
}


/*PORTAFOLIO*/

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 550px); /* Tres tarjetas en una fila de 300px de ancho */
  gap: 0px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
}

.card {
  width: 500px; /* Ancho de las tarjetas */
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Oculta el desbordamiento de la imagen */
}

.card img {
  width: 100%;
  height: auto; /* Altura automática para mantener la proporción */
  transition: transform 0.2s; /* Transición de transformación */
}

.card:hover img {
  transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
}

.card-content {
  padding: 16px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(1, 370px); /* Tres tarjetas en una fila de 300px de ancho */
    gap: 2px; /* Espacio entre las tarjetas */
  }
  .card{
    width: 350px;
  }
  .card-content h3{
    font-size: 1em;
  }
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}


/*SECTION CONTACTO*/
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 150vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}
/* Estilo para las cajas de información */
.part-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info-box .icon .iconchild{
  font-size: 10px;
  margin-right: 15px;
  border-radius: 10%;
}

.info-box h4 {
  margin: 0;
  font-size: 15px;
  color: #7a7a7a;
}

.info-box p {
  margin: 0;
  font-size: 16px;
  
}
.info-box a {
  font-weight: 100;
  font-size: 16px;
  color: #1f1f1f;
  text-decoration: none;
}

.info-box a:hover{
  color: #32DA78;
}

/*FOOTER*/

footer{
  background:rgba(0, 12, 0, 0.95);
  color: white; 
  padding: 10px; 
  text-align: center;
  
}

.socials {
  padding: 10px; 
  text-decoration: none; 
  margin-bottom: 100px;
  color: rgb(255, 255, 255);
}

.socials:hover{
  color: #32DA78;
}


/*VERSIONES MOBILE*/

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
 
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}