body {
    margin: 0;
    font-family: Arial, Poppins;
    padding: 0;
    scroll-behavior: smooth;
    color: rgba(255, 255, 255, 0.8); /* Color del texto */
    background: linear-gradient(100deg, #090d1f, #143250, #013852); /* Degradado de tres colores */
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #16262e;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #3fa5f3; 
    border-left: 4px solid transparent;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que el spinner cubra toda la altura de la ventana */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Un fondo semitransparente */
    z-index: 9999; /* Asegura que el spinner esté por encima de otros elementos */
  }

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .logo-mobile{
      content: url('../img/logome.png');
      margin:340px 0px 0px 30px;
      width:330px;
      height:135px;
    }
}

 /*MENU*/ 
header{
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: transparent;
	-webkit-transition: background-color .5s;
  z-index: 1000; 
}

nav{
	display: table;
	margin: auto;
	margin-top: 15px;
	height: 30px;
	-webkit-transition: margin-left .5s;
}

.menu-horizontal{
	display: block;
	float: left;
	list-style: none;
  padding: 0px;
}

.menu-horizontal li{
	float: left;
	margin: 10px;
	
}

.menu-horizontal a{
	color: #F3F3F3;
	text-decoration: none;
}

.menu-horizontal a:hover{
	color: #75cff3;
	text-decoration: none;
  
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
}

.active-link {
  color: #3fa5f3; 
}

img#logo{
	float:left;
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 300px;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/*REPONSIVE*/


/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  /* Estilos para el menú hamburguesa */
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 2px;
    background-color: #ffffff;
  }

  /* Estilos para el menú desplegable */

  #nav-list {
    display: none;
    text-align: center;
    background-color: #0f1f35;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  #nav-list.active {
    display: block;
  }

  .menu-icon {
    display: block;
  }

  .imagen-logo{
    display: none;
  }
  #logo {
    display: none;
  }
}

/*Titulo globales*/
.titulo{
  padding: 12rem 0 2rem;
  position: relative;
  text-align: center;
  line-height: 100%;
  font-family: "Bebas Neue",Sans-serif;
  font-size: 6.5rem;
  color: #82b8d1;
}

/*ABOUT ME*/
@media screen and (max-width: 768px) {
  /* Estilos para el menú hamburguesa */
  .titulo{
    padding: 12rem 0 2rem;
    position: relative;
    text-align: center;
    line-height: 100%;
    font-family: "Bebas Neue",Sans-serif;
    font-size: 3.5rem;
    color: #82b8d1;
  }
}
.about-section {
  z-index: 10;
  padding-bottom: 20%;
  position: relative;
  width: 100%;
  padding-top: 5%;
  font-weight: 500;
  color: white
}

.titulo-banner {
  text-align: center;
  width: 50%; /* Ocupa el 50% del ancho de la sección */
  margin: 0 auto; /* Centra el elemento horizontalmente */
  z-index: 1; /* Coloca el texto sobre el degradado */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 8, 14, 0.87);
  z-index: 0;
}

.grid {
  display: grid;
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
  grid-template-columns: repeat(25, 1fr);
}

.me-image {
  grid-column-start: 8;
  grid-column-end: 10;
  margin-top: var(--spacing-xs);
}

.me-content img {
  background-color: rgb(141, 194, 255);
  border-radius: 200px 200px 0 0;
  width: 320px;
  height: 400px;
  object-fit: cover;
}

.me-info {
  grid-column-start: 13;
  grid-column-end: 20;
  margin-top: var(--24px);
}

.text-parrafo {
  font-size: 1.375rem;
  font-weight: 100;
}

/* Agrega estilos para limitar el ancho del contenedor de tarjetas */
.contenedor {
  max-width: 1200px; /* Puedes ajustar este valor según tus preferencias */
  margin: 0 auto; /* Centra el contenedor en el medio */
}

.card-group>.card{
  height: 500px;
}

@media (max-width: 768px) {
      
    .me-image{
        grid-column-start: 4;
        grid-column-end: 7;
        margin-top: var(--spacing-xs);
    }
    
    .me-content img{
      background-color: rgb(168, 210, 245);
      border-radius: 200px 200px 0 0;
    }
    
    .me-info{
      grid-column-start:4;
      grid-column-end: 30;
      margin-top: var(--24px);
    }
    .text-parrafo{
      font-size: 1rem;
      padding-right: 20px;
    }
    .card-group>.card{
      width: 95%;
    }
    .intro{
      padding: 10px 10px 10px 10px;
    }
}

/*PORTAFOLIO*/
.portfolio-section {
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.8); /* Color del texto */
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 350px); /* Tres tarjetas en una fila de 300px de ancho */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
}

.card {
  width: 350px; /* Ancho de las tarjetas */
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Oculta el desbordamiento de la imagen */
  
}

.card img {
  width: 100%;
  height: auto; /* Altura automática para mantener la proporción */
  transition: transform 0.2s; /* Transición de transformación */
}

.card:hover img {
  transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
}

.card-content {
  padding: 16px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 195px); /* Tres tarjetas en una fila de 300px de ancho */
    
    gap: 2px; /* Espacio entre las tarjetas */
  }
  .card{
    width: 180px;
  }
  .card-content h3{
    font-size: 1em;
  }
}


/*SECTION CONTACTO*/
.contacto-section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para las cajas de información */
.part-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info-box .icon .iconchild{
  font-size: 10px;
  margin-right: 15px;
  border-radius: 10%;
}

.info-box h4 {
  margin: 0;
  font-size: 15px;
  color: #7a7a7a;
}

.info-box p {
  margin: 0;
  font-size: 16px;
  
}
.info-box a {
  font-weight: 100;
  font-size: 16px;
  color: #1f1f1f;
  text-decoration: none;
}

.info-box a:hover{
  color: #3fa5f3;
}




/*FOOTER*/

footer{
  background-color: #00080af6; 
  color: white; 
  padding: 10px; 
  text-align: center;
}

.socials {
  padding: 10px; 
  text-decoration: none; 
  margin-bottom: 100px;
  color: rgb(255, 255, 255);
}

.socials:hover{
  color: #3fa5f3;
}